@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: #fbb300;
  --white: #fafcfd;
  --black: #22272b;
  --gray: #5b6066;
}

/* snipet */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1' PX = 1 rem **/
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto Mono", monospace;
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
/* snipet */

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
b {
  font-family: "Rubik", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 10%;
  width: 100%;
}

/* Navigation */

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(0 0 0 / 0.25);
  position: absolute;
  padding: 0 20px;
  box-shadow: 3px 3px 4px rgb(0 0 0 / 0.15);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  /* .fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--gris-oscuro);
    padding: 1rem 5rem;
    height: 10rem;
    z-index: 1000;
    transition: background-color 300ms ease-in-out;
  } */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  /* .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(0 0 0 / 0.25);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.hero {
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_1280.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero div:first-child {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero p {
  margin-bottom: -20px;
  color: var(--white);
  font-size: 14px;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

.hero a {
  background-color: var(--yellow);
  padding: 1rem 2rem;
  color: var(--black);
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.4s ease all;
  cursor: pointer;
  text-decoration: none;
}

.hero .social-media a {
  padding: 0.5rem;
}

.hero a:hover {
  background-color: var(--white);
  transform: scale(1.05);
}

.navigation {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.hamburger-slim {
  background: transparent;
  position: relative;
  height: 30px;
  width: 40px;
  top: 0;

  &:before,
  &:after {
    background: var(--white);
    backface-visibility: hidden;
    content: "";
    height: 4px;
    left: 0;
    transition: 0.75s;
    width: 35px;
    border-radius: 5px;
  }

  &:before {
    box-shadow: #fff 0 14px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &:hover {
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }
  }
}

.navigation img {
  width: 100px;
  margin: 15px 0 0 0;
}

/* Social media */

.social-media {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7%;
  padding: 20px 10px;
}

.social-media a {
  max-width: 50px;
  background-color: transparent !important;
}

.social-media a img {
  transition: 0.4s ease all;
  max-height: 30px;
}

.social-media img:hover {
  transform: scale(1.12);
}

/* About */
.about {
  min-height: 101vh;
  width: 100%;
  background-color: var(--black);
  padding: 20px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  color: var(--white);
}

.about span {
  width: 80vw;
  max-width: 350px;
  height: 3px;
  background-color: var(--yellow);
}

.about img {
  max-width: 90%;
  max-height: 25vh;
  border-radius: 20px;
}

.about p {
  color: var(--white);
  font-size: 18px;
}

.cta {
  background-color: var(--yellow);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.4s ease all;
}

.cta:hover {
  background-color: var(--white);
  transform: scale(1.05);
}

.services {
  min-height: 101vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/foto-gratis/imagen-primer-plano-programador-trabajando-su-escritorio-oficina_1098-18707.jpg?t=st=1709830267~exp=1709833867~hmac=dc7e9cb43efbbddffe42eb72e2633e322f20b3ae658535862fffb212a557f52e&w=740");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services div:nth-child(1) {
  width: 100%;
  background-color: #22272b86;
  min-height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .services-grid {
  position: relative;
  width: 100%;
  min-height: 89vh;
}

.services-bg-dark {
  background-color: #2a59788a !important;
}

.services-bg-purple {
  background-color: #4320588e !important;
}

.services-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  height: 30vh;
  text-align: center;
  padding: 0;
}

.services-row div:nth-child(1) {
  width: 50%;
  height: 100%;
}

.services-row div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.services-row div:nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 2.5rem;
}

.services-row-reverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  height: 30vh;
  text-align: center;
  background-color: #00657587 !important;
  padding: 0;
}

.services-row-reverse div:nth-child(2) {
  width: 50%;
  height: 100%;
}

.services-row-reverse div:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.services-row-reverse div:nth-child(1) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 2.5rem;
}

.box {
  position: relative;
}

.over-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff !important;
  opacity: 0;
  transition: 0.3s all ease-in;
  text-align: center;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
}

.box:hover .over-text {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7); /* Ajusta la transparencia del fondo */
}

/* Banner */
.banner {
  height: 30vh;
  background-color: var(--black);
}

/* Process */

.process {
  min-height: 101vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/foto-gratis/programador-ocupado-escribiendo-correos-electronicos-ia-generativa-portatil-iluminada_188544-32077.jpg?t=st=1709831014~exp=1709834614~hmac=28ced516699e458dd02cc2be41bdf241981a2505424ad6dc7f59769bfff69be9&w=826");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-blue {
  background-color: #2a5978d6;
}

.card-yellow {
  background-color: #967a2fd6;
}

.card-purple {
  background-color: #432058d8;
}

.process .title-process {
  width: 100%;
  background-color: #22272b86;
  min-height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-row {
  width: 100%;
  height: 30vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cta-a {
  color: var(--yellow);
  text-decoration: none;
  cursor: pointer;
}

.card {
  width: 45vw;
  height: 25vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-size: 18px;
  margin: 0 !important;
  padding: 0 5px;
  box-shadow: 2px 2px 8px #000;
  cursor: pointer;
  transition: 0.3s ease all;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 7px rgb(0 0 0 / 0.15);
}

.card span {
  font-family: "Rubik", sans-serif;
}

.card .number {
  font-size: 4rem;
}

/* calculator */
#calculator {
  min-height: 101vh;
  width: 100%;
  max-width: 100%;
  background-image: url("../assets/img/gradient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.tilte-section {
  width: 100%;
  padding: 0 10%;
}

#progress-bar {
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  margin-right: 10px;
}
#progress {
  width: 0%;
  height: 15px;
  background-color: var(--yellow);
  border-radius: 10px;
}
.section-progress-bar {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-progress-bar span {
  font-size: 18px;
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
.hidden {
  display: none;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 18px;
  color: var(--white);
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.form-subtitle {
  color: var(--white) !important;
  font-size: 13px;
  max-width: 500px;
}

.form-price {
  color: var(--white);
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  margin-bottom: 3vh;
}

.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.next {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next button {
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: var(--black);
}

input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid var(--white);
  padding: 10px 5px;
  border-radius: 10px;
}

.funcions-textarea {
  margin-bottom: 2rem;
}

.result {
  color: var(--white);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.total {
  color: var(--yellow) !important;
}

.form-submit {
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btn-submit input {
  background-color: var(--white);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: var(--black);
}

.form-submit input,
.form-submit textarea {
  width: 100%;
}

input[type="submit"] {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding: 10px;
  margin-top: 2rem;
  cursor: pointer;
}

#success-message {
  font-size: 25px;
  font-weight: bold;
  padding: 0 10%;
  text-align: center;
}

#error-message {
  font-size: 25px;
  font-weight: bold;
  padding: 0 10%;
  text-align: center;
}
#success-message-form {
  font-size: 25px;
  font-weight: bold;
  padding: 0 10%;
  text-align: center;
}

#error-message-form {
  font-size: 25px;
  font-weight: bold;
  padding: 0 10%;
  text-align: center;
}

/* Contact */

.contact {
  min-height: 101vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://cdn.pixabay.com/photo/2016/11/29/12/30/phone-1869510_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-form {
  background-color: var(--yellow) !important;
  padding: 1rem 2rem;
  color: var(--black);
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.4s ease all;
}

.btn-form:hover {
  background-color: var(--white) !important;
}

.contact-title span {
  width: 80vw;
  max-width: 350px;
  border-top: solid 3px var(--yellow);
  height: 3px;
  background-color: var(--yellow);
}

.span-hr {
  width: 80vw;
  max-width: 350px;
  height: 3px;
  background-color: var(--yellow);
  border: none;
}

.contact-leyend p {
  color: var(--white);
  font-size: 15px;
}
.contact-leyend span {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  text-align: center;
}

.contact-social {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;
  padding: 0 2px;
}

.contact-social img {
  height: 30px;
}

/* Footer */
footer {
  display: flex;
  flex-shrink: wrap;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  padding: 20px 10px;
  text-align: center;
}

footer span:nth-child(2) {
  color: var(--yellow);
  margin-left: 7px;
}

footer span:nth-child(1) {
  margin-right: 7px;
}

/* Responisve */

.about-responsive {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-form div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .about-responsive {
    flex-direction: row;
    justify-content: space-around;
    margin: 7% 0;
  }
  .about-responsive p {
    max-width: 40%;
  }
  .about-responsive img {
    max-height: 250px;
  }
  .tilte-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #calculator form {
    width: 100%;
  }

  .section-progress-bar {
    width: 100%;
  }

  .section-form div {
    max-width: 1000px;
    display: flex;
    flex-direction: column !important;
  }

  .section-form div select {
    width: 100%;
  }

  .responsive-calculator {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .responsive-calculator div:nth-child(2) {
    width: 90%;
  }

  .responsive-calculator div:nth-child(3) {
    width: 10%;
  }

  .form-subtitle {
    margin-top: 0;
  }

  .next {
    margin-top: 3rem;
  }

  .calculator-comment-responsive {
    width: 100%;
    max-width: 1000px;
  }

  .form-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 0 10%; */
    max-width: 700px;
    /* padding: 0 20%; */
    margin: 0 auto;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    border: 1px solid var(--white);
    padding: 15px 7px;
    border-radius: 10px;
  }

  /* formulario */
  #last-form .form-submit {
    width: 700px !important;
    min-width: 600px !important;
  }

  .contact-social {
    max-width: 698px;
  }

  .contact-leyend p br {
    display: none;
  }
}

/* spinner */

.spinner {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* scroll */
::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 0.89);
  border-radius: 20px;
}
